name: Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Run GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ShriabhayS
          template: classic
          base: header, activity, repositories, metadata
          config_timezone: Australia/Melbourne
          plugin_languages: yes
          plugin_achievements: yes
          plugin_habits: yes
