name: Metrics
on:
  schedule: [{cron: "0 */12 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ShriabhayS
          template: classic
          base: header, activity, repositories, metadata
          config_timezone: Australia/Melbourne

          # Enable modules
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_achievements: yes
          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
